
<section class="wrap2">
<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put,class: 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

 <div class="form-group">
        <%= f.label :name, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.text_field :name, autofocus: true, class: 'form-control'  %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :is_female, "Gender", class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.radio_button :is_female, true %> <%= f.label :is_female, "Female" %>
            <%= f.radio_button :is_female, false %> <%= f.label :is_female, "Male" %>
        </div>
    </div>

     <div class="form-group">
        <%= f.label :date_of_birth, class: 'col-sm-2 control-label'  %>
        <div class="col-sm-6">
            <%= f.date_select :date_of_birth, start_year: 1920, end_year: 2020, class: 'form-control'  %>
        </div>
    </div>
    <div class="form-group">
    <%= f.label :phone, class: 'col-sm-2 control-label'%>
     <div class="col-sm-6">
    <%= f.text_field :phone , class: 'form-control' %>
    </div>
    </div>
    
        
   <div class="form-group">
        <%= f.label :email, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
            <%= f.email_field :email, class: 'form-control'  %>
        </div>
    </div>
  
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :password, class: 'col-sm-2 control-label' %> <i>(Puede dejar en blanco si usted no desea cambiar su password)</i><br />
    <div class="col-sm-6">
    <%= f.password_field :password, autocomplete: "off",class: 'form-control' %>
  </div>
  </div>

  <div class="form-group">
        <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
        <div class="col-sm-6">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'  %>
        </div>
    </div>

  <div class="form-group">
    <%= f.label :current_password, class: 'col-sm-2 control-label' %> <i>(Usted necesita colocar su password actual para confirmar los cambios)</i><br />
   <div class="col-sm-6">
    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

 <h5>Cancel my account</h5>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-default btn-xs' %></p>

    <%= link_to "Back", :back %>
