<section >
<div id= 'text3'>
<h1>Sobre Nosotros</h1>
</div>


<div id='info'>
    <p>Taxi-Express es la Web de solicitud de taxis más usada en el pais. La aplicación conecta</p>
    <p>a los usuarios pasajeros y usuarios conductores, de forma fácil, rápida y segura. Taxi-</p>
    <p>Express está disponible para tablet, pc y celulares</p>
    <br>


    <br />
    
</div>
</section>

<section >
<div id='text3'>
<h1>Nuestra historia</h1>
</div>

<div id='info'>
    <p>Lanzada en Enero de 2015, la idea de la aplicación surgio en el 2014. Después de eso,</p>
    <p>Taxi-Express se convirtió en el pionero en servicios de geolocalización vía aplicación </p>
    <p>en Perú. Actualmente disponible en todas la ciudades del pais, Taxi-Express ha</p>
    <p> el servicio de solicitud de taxis.</p>
</div>
</section>