
<div id='text3'>
<h1>CONTACTO</h1>
    <p>¿Tienes dudas, sugerencias, elogios o críticas? Contacta nuestro servicio de atención al cliente en Perú por teléfono o correo.</p>
</div>

<div id='info'>
    
   <p>Atención al usuario: 01564613</p>
   <p>contact@taxiexpress.com.pe</p>
   <p>Av. La marina 1650 San Miguel</p>
</div>

<div class="contenedor-formulario">
<div class="wrap">

<from action="contact" class="formulario" name="formulario_s" method="get">
  <div>
      <div class="input-group">
    <input type='text' id="nombre" name="nombre"> 
   <label class="label " for='nombre'>Tu Nombre:</label>
   
   </div>
   <div class="input-group">
   <input type="email" id='correo'name='correo' >
    <label class="label" for='correo'>Tu e-mail:</label>
   
   </div>
   <div class="input-group">
    <input type='text' id='telefono'name='telefono'  >
   <label class= "label" for='telefono'>Télefono:</label>
   
   </div>
   <div class="input-group">
    <textarea type='text'  id='mensaje' name='mensaje' style="padding: 6px 12px;" cols="40 " rows="9"></textarea>
   <label class="label" for='mensaje'>Mensaje:</label>
   
   </div>
   <input type="submit" id="btn-submit" value="Enviar">
 </div> 
</from>
    <br>


    <br />
</div>
</div>

<div align="center"> 

<iframe 
width="600" 
height="450" 
frameborder="0" 
style="border:0" 
src="https://www.google.com/maps/embed/v1/place?q=place_id:EitBdi4gTGEgTWFyaW5hIDE2NTAsIFNhbiBNaWd1ZWwgMTUwODcsIFBlcsO6&key=AIzaSyBv4ca4UjFuq6NFm1A2g_sU0DiiiSLrN9A" allowfullscreen>
</iframe>

</div>


    

