<div id= 'text3'>

<h1>Taxi-Express tu taxi seguro</h1>
 <br>    <br />
<h2> ¡Califica a tu conductor y ay&uacute;danos a premiar el buen servicio!</h2>
</div>
<video widtg="640" height="360"  autoplay preload="auto">
    <source src="video.mp4" type='video/mp4'/>
    
</video>