

<div class="form_top">
<h1>Buscas un Taxi!</h1><br>


     <input class="input_blanco input input_default input_form_bottom error" 
            name="desde_hasta" id="desde_hasta" type=
            "text" value="Rec&oacute;geme de:Calle, Distrito">
                    
   </div>
   
    <input class="input_blanco input input_default input_form_bottom error" 
           name="hasta_desde" id="hasta_desde" type=
           "text" value="Ll&eacute;vame a: Calle, Distrito"> 
    </div>
  
  <div class="contenedor-formulario">
<div class="wrap">

<from action="" class="formulario" name="formulario_s" method="get">
  <div>
      <div class="input-group">
    <input type='text' id="nombre" name="nombre"> 
   <label class="label " for='nombre'>Nombre y Apellidos:                        </label>
   
  
   </div>
   <div class="input-group">
    <input type='text' id='telefono'name='telefono'  >
   <label class= "label" for='telefono'>Télefono:</label>
   
   </div>
   <input type="submit" id="btn-submit" value="Enviar">
 </div>  
</from>
 


                    
                   