
<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reserved_at %><br>
    <%= f.datetime_select :reserved_at %>
  </div>
  <div class="field">
    <%= f.label :direccion1 %><br>
    <%= f.text_field :direccion1 %>
  </div>
  <div class="field">
    <%= f.label :direccion2 %><br>
    <%= f.text_field :direccion2 %>
  </div>
   <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  
  <div class="field">
    <%= f.label :waiting_allowed %><br>
    <%= f.check_box :waiting_allowed %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

