@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?qqoj4s');
    src:    url('fonts/icomoon.eot?qqoj4s#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?qqoj4s') format('truetype'),
        url('fonts/icomoon.woff?qqoj4s') format('woff'),
        url('fonts/icomoon.svg?qqoj4s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
    content: "\e900";
}
.icon-address-book:before {
    content: "\e901";
}
.icon-users:before {
    content: "\e903";
}
.icon-road:before {
    content: "\e902";
}
.icon-exit:before {
    content: "\e905";
}
.icon-mail:before {
    content: "\e904";
}

