 <header>
		<nav>
			<ul>
				<li><a href="/"><span class="primero"><i class="icon icon-home2"></i></span>Inicio</a></li>
				<li><a href="/about"><span class="segundo"><i class="icon icon-address-book"></i></span>Acerca de</a>
				<li><a href="/contact"><span class="quinto"><i class="icon icon-mail"></i></span>Contacto</a></li>
				
				<% if user_signed_in? %>
				<li><a href="#"><span class="tercero"><i class="icon icon-road"></i></span>Servicios Pendientes</a></li>
				<li><a href="#"><span class="tercero"><i class="icon icon-road"></i></span>Listar mis servicios encuestados</a></li>
				
               <li><a data-method = "delete"  href = '/users/sign_out'  rel = "nofollow"><span class="cuarto"><i class="icon icon-users" ></i></span>Cerrar sesión</a></li>
                
        
				<% else %>
				<li><a href="/users/sign_in"><span class="cuarto"><i class="icon icon-users"></i></span>Inicio Sessión</a></li>
				<li><a href="/users/sign_up"><span class="cuarto"><i class="icon icon-users"></i></span>Crear Cuenta</a></li>
				<%end%>
			</ul>
		</nav>
	</header>