<!DOCTYPE html>
<html>
<head>
  <title>Proyecto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <h1 id ="Text">Taxi-Express</h1>
  <%= render 'layouts/menu' %>
   
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
	<%= yield %>

</body>
</html>
